[block: review_top]
<div class="box">
	<div class="head">Articles by all editors ready for a look over</div>
</div>
[/block: review_top]

[block: review_item_top]
{:lock_button}
<div class="box">
	<div class="head">Reviewing another editors article</div>
</div>
[/block: review_item_top]

[block: edit_locked]
				<div class="box">
					<div class="head">Editing is currently locked</div>
					<div class="body group">Locked by {:locked_username} at {:locked_date}, lock will be removed once editing is finished, or automatically after time</div>
				</div>
[/block: edit_locked]

[block: review_row]
<div class="box">
	<div class="body group">
		<form method="post" role="form">
			<strong>{:article_title}</strong> by {:username} submitted on {:date_submitted} <br />
			<button type="submit" class="btn btn-primary" formaction="{:url}admin.php?module=reviewqueue&aid={:article_id}">Edit</button>
			<button type="submit" class="btn btn-info" formaction="{:url}admin.php?module=comments&aid={:article_id}">Preview & Comments</button>
			<button type="submit" name="act" value="Delete" class="btn btn-danger" formaction="{:url}admin.php?module=articles&article_id={:article_id}&review=1">Delete</button>
		</form>
	</div>
</div>
[/block: review_row]

[block: review_bottom]
</div>
</div>
<div class="box">
	<div class="body group">
		{:subscribe_box}
		<label class="checkbox">
			<input type="checkbox" name="show_block" /> Editors Pick? <em>This will show the article under the Editors Pick heading on the Articles block!</em>
		</label>
		<button type="submit" name="act" value="Approve_Admin" class="btn btn-primary" {:edit_state}/>Publish Now</button> <button type="submit" name="act" value="Edit_Admin" class="btn btn-primary" {:edit_state}>Finish Edit</button> <button type="submit" name="act" value="Preview" {:preview_action} class="btn btn-info" />{:preview_text}</button>
		<input type="hidden" name="article_id" value="{:article_id}" />
		<input type="hidden" name="author_id" value="{:author_id}" />
		<input type="hidden" name="check" value="Review" />
		</form>
	</div>
</div>
<div class="box">
	<div class="body group">
		<form id="imageform" method="post" enctype="multipart/form-data" action='/includes/ajax/ajaxImageUpload.php' style="clear:both">
			Upload your images, no bigger than 1MB!
			<div id='imageloadstatus' style='display:none'>
				<img src="/templates/default/images/loader2.gif" alt="Uploading...."/>
			</div>
			<div id='imageloadbutton'>
				<input type="file" name="photos[]" id="photoimg" multiple="true" {:edit_state}/>
			</div>
			<input type="hidden" name="article_id" value="{:article_id}" />
		</form>
	</div>
</div>
<div id="preview" class="uploads">
</div>
<div class="uploads">
{:previously_uploaded}
</div>
[/block: review_bottom]
