[block: head]
<div class="box"><div class="head">Linux-friendly game servers</div></div>
[/block: head]

[block: server]
<div class="box"><div class="head">{:name} {:badge}</div>
<div class="body group">{:connection_info}</div>
</div>
[/block: server]
