[block: main_top]
<div class="box"><div class="body group">See also: <a href="/index.php?module=calendar">Release Calendar</a></div></div>
<div class="box">
  <div class="head">The big GamingOnLinux games database!</div>
  <div class="body group">We have a total of {:total_games} items in the database! This page is in BETA, please <a href="/forum/">give feedback in the Forum.</a><br />
  <strong>Options:</strong> <a href="/index.php?module=game&view=all">View all</a> - Submit game</div>
</div>
[/block: main_top]

[block: random]
<div class="box">
  <div class="head">Random game spotlight</div>
  <div class="body group"><a href="/index.php?module=game&amp;game-id={:id}">{:name}</a><br />Release date: {:release_date}</div>
</div>
[/block: random]

[block: latest_top]
<div class="database-latest">
<div class="box">
  <div class="head">Latest games</div>
[/block: latest_top]

[block: latest_item]
  <div class="body group"><a href="/index.php?module=game&amp;game-id={:id}">{:name}</a><br />Release date: {:release_date}</div>
[/block: latest_item]

[block: latest_bottom]
</div>
</div>
[/block: latest_bottom]

[block: edits_top]
<div class="database-updated">
<div class="box">
  <div class="head">Latest games updated in the database</div>
[/block: edits_top]

[block: edits_bottom]
</div>
</div>
[/block: edits_bottom]

[block: top]
<ul class="breadcrumb">
  <li><a href="/index.php?module=game">Games Database</a></li>
  <li><a href="/index.php?module=calendar">Release Calendar</a></li>
  <li class="active">{:name}</li>
</ul>
<div class="box"><div class="head">{:dlc} {:name} {:edit-link}</div></div>
[/block: top]

[block: base_game]
<div class="box"><div class="body group">This is a DLC for <a href="/index.php?module=game&game-id={:base_game_id}">{:base_game_name}</a></div></div>
[/block: base_game]

[block: main-info]
<div class="box">
  <div class="body group" style="position: relative;">
    {:extra_info}
    <strong>Linux Release Date</strong>: {:release-date} {:unreleased} {:best_guess}<br />
    <strong>External Links</strong>: <ul class="database_stores">{:official_link}{:gog_link}{:steam_link}{:itch_link}</ul><br />
    {:description}
  </div>
</div>
[/block: main-info]

[block: extra]
<div class="database-extra"><ul class="database_extra">{:price}{:license}</ul>{:genres}</div>
[/block: extra]

[block: associations]
<div class="box"><div class="body group">Also known as: {:games}</div></div>
[/block: associations]

[block: main_info_bottom]
<div class="box"><div class="body group">{:edit-link}</div></div>
[/block: main_info_bottom]

[block: articles]
<div class="box">
  <div class="head">GOL Articles</div>
  <div class="body list"><ul>{:articles}</ul></div>
</div>
[/block: articles]

[block: game_list]
<div class="box">
	<ul class="breadcrumb">
	<li><a href="/index.php?module=game">Games Database</a></li>
	<li class="active">Viewing full database</li>
	</ul>
</div>
<form id="games_options" method="get" style="display:inline;">
<div class="box game-options">
	<div class="head">Filters - More to come soon!</div>
	<div class="body group">
	<div class="col-2">
		<input type="hidden" name="module" value="game" /> <input type="hidden" name="view" value="all" /> 
		License: <br />
		<select class="game_options_select ays-ignore" name="license" style="width: 150px;">{:license_options}</select>
	</div>
	<div class="col-2">
		Genre: <br />
		<select class="game_options_select ays-ignore" name="genre" style="width: 150px;">{:genre_options}</select>
	</div>
	</div>
</div>
</form>
<div class="masonry">
[/block: game_list]

[block: game_list_row]
<div class="block"><div class="box"><div class="body group"><a href="/index.php?module=game&amp;game-id={:id}">{:name}</a></div></div></div>
[/block: game_list_row]

[block: game_list_bottom]
</div>
{:pagination}
[/block: game_list_bottom]
