[block: top]
	<nav class="navigation-main">
		<div class="container group">
			<ul class="header-navbar">
				<div id="navigation-mobile" class="toggle-nav">
					<a href="#" onclick="return false;"></a>
					<div class="toggle-content" id="nav-hidden">
						<ul>
							{:user_link}
							<li><a href="/index.php?module=livestreams">Livestreams</a></li>
							<li><a href="{:statistics_link}">Statistics</a></li>
							<li><a href="{:donate_link}">Support Us</a></li>
							<li><a href="/wiki/">Wiki</a></li>
							<li><a href="{:contact_link}">Contact Us</a></li>
							<li><a href="{:forum_link}">Forum</a></li>
							<li><a href="{:irc_link}">IRC</a></li>
							<li><a href="/index.php?module=search">Search</a></li>
							<li><a href="/index.php?module=game_servers">Game Servers</a></li>
						</ul>
					</div>
				</div>
				<li class="gol-icon"><a href="/" title="GamingOnLinux Home"><img src="{:url}templates/default/images/{:icon}" width="35" height="35" alt="GamingOnLinux"></a></li>
				<li class="nav-title"><a href="/">{:site_title}</a></li>
				<li class="dropdown hide-small">
					<a href="#" onclick="return false;">Sections <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/index.php?module=livestreams">Livestreams</a></li>
						<li><a href="{:statistics_link}">Statistics</a></li>
						<li><a href="/index.php?module=calendar">Release Calendar</a></li>
						<li><a href="/index.php?module=game">Games Database</a></li>
						<li><a href="/index.php?module=game_servers">Game Servers</a></li>
						<li><a href="{:donate_link}">Support Us</a></li>
						<li><a href="/wiki/">Wiki</a></li>
					</ul>
				</li>
				<li class="dropdown hide-small">
					<a href="{:contact_link}">Contact Us <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{:submit_e}">Email Us</a></li>
						<li><a href="{:submit_a}">Submit Article</a></li>
					</ul>
				</li>
				<li class="hide-small"><a href="{:forum_link}">Forum</a></li>
				<li class="hide-small"><a href="/irc/">IRC</a></li>
				<li class="dropdown hide-small">
					<a href="/index.php?module=search">Search <b class="caret-down"></b></a>
					<ul class="dropdown-menu">
						<li>
							<form class="header-search" method="get" action="{:url}index.php?module=search">
								<input type="hidden" name="module" value="search" />
								<input type="text" class="search-field ays-ignore" name="q" placeholder="Search Articles…" />
								<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
							</form>
						</li>
						<li class="divider"></li>
						<li><a href="/index.php?module=search">Advanced search</a></li>
					</ul>
				</li>
			</ul>
			<div class="right-menu">
				{:notifications_menu}
				{:user_menu}
			</div>
		</div>
	</nav>
	<div id="body" class="smooth group">
[/block: top]

[block: user_menu]
	<div class="toggle-nav user-box hide-small">
		<a href="#"><div class="avatar-container"><img id="nav-avatar" src="{:avatar}" alt="" width="35" height="35"></div></a>
			<div class="toggle-content">
				<ul>
					<li style="padding:5px;"><strong>{:username}</strong></li>
					<li class="divider"></li>
					<li><a href="{:profile_link}">View Profile</a></li>
					<li><a href="/usercp.php">User CP</a></li>
					<li><a href="/usercp.php?module=bookmarks">Bookmarks</a></li>
					{:admin_link}
					<li><a href="/index.php?act=Logout">Logout</a></li>
				</ul>
		</div>
	</div>
[/block: user_menu]

[block: notifications]
	<div id="alert_box" class="toggle-nav alerts-box right alerts-box-{:alert_box_type}">
		<a href="#">{:notifications_total} <img src="/templates/default/images/comments/{:alerts_icon}.png" alt=""/></a>
		<div class="toggle-content">
				<ul>
					{:admin_line}
					{:comments_line}
					<li><a href="{:messages_link}">{:message_count} new messages</a></li>
				</ul>
		</div>
	</div>
[/block: notifications]

[block: login_menu]
<div class="login-box hide-small">
	<ul>
		<li class="pull-right"><a href="/index.php?module=login">Login</a></li>
		<li class="pull-right">Or</li>
		<li class="pull-right"><a href="/index.php?module=register">Register</a></li>
	</ul>
</div>
[/block: login_menu]

[block: featured]
<div class="group" id="main-article">
    <div class="container">
        <div class="col-12">
            <div class="article group">
                <div class="featured-image group">
                    <img alt="" src="{:url}uploads/carousel/{:image}" />
										<a href="{:article_link}"><div class="featured-title"><div class="featured-title-text">{:title}</div></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
[/block: featured]

[block: patreon]
<div class="container">
	<div class="col-12">
		<div class="box">
			<div class="patreon body">
				<img style="float: right;" src="/templates/default/images/patreon_logo.png" alt=""/><a href="https://www.patreon.com/liamdawe">Support me on Patreon</a> to keep GamingOnLinux (and me) alive.
			</div>
		</div>
	</div>
</div>
[/block: patreon]

[block: activation]
<div class="container">
	<div class="col-12">
		<div class="box">
			<div class="patreon head">Activate your account!</div>
			<div class="body group">
				 Your account isn't activated, to begin posting you need to activate your account via email! <a href="/index.php?module=activate_user&amp;redo=1">Click here to re-send a new activation key</a>!
			</div>
		</div>
	</div>
</div>
[/block: activation]

[block: left]
		<div id="content" class="container group">
			<div class="{:articles_css} col-9">
[/block: left]

[block: left_end]
			<!-- end content column -->
			</div>
[/block: left_end]

[block: right]
	<!-- Sidebar -->
			<div class="col-3">
[/block: right]

[block: right_end]
			</div>
		</div>
[/block: right_end]
