[block: top]
	<div class="box">
		<div class="body group"><a href="/usercp.php">Click here to edit your profile</a></div>
	</div>
[/block: top]

[block: main]
			<!-- profile page -->
				<div class="box">
					<div class="head">Personal profile for {:username} {:cake_icon} {:supporter_badge} {:editor_badge} {:new_user_badge} {:developer_badge}</div>
				</div>

				<div class="box">
					<div class="body group profile">
						<div class="avatar">
							<img src="{:avatar}" alt="users avatar" />
						</div>
						<div class="profile_info">
							Registered: {:registered_date} <br />
							Last Login: {:last_login}<br />
							Article Comments: {:article_comments}<br />
							Forum Posts: {:forum_posts}
						</div>
					</div>
				</div>

				<div class="box">
					<div class="head">Findable On</div>
					<div class="body group profile">
						{:profile_fields}
						{:message_link}
						{:email}
					</div>
				</div>
[/block: main]

[block: additional]
<div class="box">
	<div class="head">Computer info for <a href="{:profile_link}">{:username}</a></div>
	<div class="body group profile">
		<ul style="list-style: none; padding: 0;">
			{:fields}
		</ul>
	</div>
</div>
[/block: additional]

[block: view_full]
<div class="box">
	<div class="body group profile">
		<a href="{:stats_link}">View all user statistics</a> | <a href="{:profile_link}">View full profile</a> {:edit_link}
	</div>
</div>
[/block: view_full]

[block: articles_top]
<div class="box">
	<div class="head">Latest 5 Articles:</div>
	<div class="body list">
		<ul>
[/block: articles_top]


[block: articles]
	<li>{:latest_article_link}</li>
[/block: articles]

[block: articles_bottom]
						<li><a href="/index.php?module=search&author_id={:user_id}"><i class="icon-search"></i>View more articles from {:username}</a></li>
						</ul>
					</div>
				</div>
[/block: articles_bottom]

[block: bio]
				<div class="box">
					<div class="head">A little about me</div>
					<div class="body group">
						{:bio_text}
					</div>
				</div>
[/block: bio]

[block: end]
			<div class="box">
				<div class="body group">
					{:admin_links}
				</div>
			</div>
[/block: end]

[block: more_comments]
<div class="box">
	<ul class="breadcrumb">
		<li class="active">Profiles</li>
		<li><a href="{:profile_link}">{:username}</a></li>
		<li class="active">Viewing more comments</li>
	</ul>
</div>
<div class="box">
	<div class="head">Latest Comments by {:username}</div>
</div>
{:comment_posts}
{:pagination}
[/block: more_comments]

[block: article_comments_list]
				<div class="box">
					<div class="head">Latest Comments</div>
					<div class="body list">
						<ul>
							{:comment_posts}
							{:view_more_comments}
						</ul>
					</div>
				</div>
[/block: article_comments_list]
