[block: top]
<div class="box">
<div class="head">Here you can search by article title</div>
<div class="body group">
<form method="get" class="form-inline" action="{:url}index.php">
<input type="hidden" name="module" value="search" />
<input type="text" class="ays-ignore" name="q" value="{:search_text}" /> <button>Search</button><br />
</form>
</div>
</div>
[/block: top]

[block: row]
			<div class="box">
				<div class="article body group">
					<a href="{:article_link}">{:title}</a> by {:username} {:date}
					<div class="tags">
						<ul>
							{:categories_list}
						</ul>
					</div>
				</div>
			</div>
[/block: row]

[block: bottom]
{:pagination}
[/block: bottom]

[block: author_top]
<div class="box"><div class="head">Viewing articles by <a href="{:profile_link}">{:username}</a></div></div>
[/block: author_top]
