/*
 * -------------------------------------------------------
 * Generic Style.css
 * -------------------------------------------------------
 *
 * Version: 4.0
 * Author:  FireDart
 * Soruce:  http://www.firedartstudios.com/
 *
 */
/*Import Reset */
@import url("reset.css");
body {
	background: #ffffff;
	color: #404040;
	font-family: 'Ubuntu', sans-serif;
	margin: 47px auto;
	padding: 0px;
	word-wrap: break-word;
}

/*
 * ------------------------------
 * General CSS
 * ------------------------------
 */
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
{
	background-color: #000;
	color: red;
	cursor: default;
}
input[type="text"][disabled] {
	 background-color: #ccc;
}
input[type="text"][readonly] {
	 background-color: #ccc;
}
textarea[disabled] {
	 background-color: #ccc;
}
button[disabled=disabled], button:disabled {
  background-color: #000;
  color: red;
cursor: default;
}
 img {
   max-width: 100%;
}
a {
	color: #428BCA;
}
.content a:hover {text-decoration: underline;}
.fnone {float: none;}
.fleft {float: left;}
.fright {float: right;}
.container {
	margin: 0px auto;
	width: 960px;
}
.margin-top { margin-top: 7px; }
.margin-bottom { margin-bottom: 7px; }
.margin-left { margin-left: 7px; }
.margin-right { margin-right: 7px; }

.align-left { text-align: left; }
.align-right { text-align: right; }

.button img {
height: 18px;
margin-bottom: -3px;
}

/*
 * ------------------------------
 * Layout CSS
 * ------------------------------
 */
 /* Navbar */
 .navigation-main {
		 position: fixed;
		 top: 0;
		 width: 100%;
		 height: 49px;
		 z-index: 999;
		 background-color: #222;
 }
 .header-navbar {
		 list-style: none;
		 padding: 0;
		 margin: 0;
 }
 .nav-title a {
     font-weight: bold;
 }
 .header-navbar>li {
     float: left;
 }
 .header-navbar>.pull-right {
     float: right;
 }
 .header-navbar>li>a {
     display: block;
     color: #999;
     padding: 14px;
 }
 .header-navbar>.active>a {
     color: #FFF;
     background-color: #000;
 }
 .header-navbar>li>a:hover {
     color: #FFF;
     text-decoration: none;
 }
 .header-navbar>.gol-icon>a {
     line-height: 0;
     padding: 9px 14px;
 }
 .header-search {
     padding: 9px 0;
 }
 .header-search .search-field {
     width: auto;
     background-color: #333;
     border: 1px solid #5c5c5c;
     outline: none;
     line-height: 19px;
     height: 30px;
     color: #fff;
     margin: 0;
 }
 .dropdown:hover .dropdown-menu {
     display: block;
 }
 .header-navbar .dropdown:hover .caret-down {
     border-top-color: #FFF;
 }
 .caret-down {
   display: inline-block;
   width: 0px;
   height: 0px;
   vertical-align: middle;
   border-top: 4px solid #999;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   content: "";
 }
 .dropdown {
     position: relative;
 }
 .dropdown-menu {
     position: absolute;
     top: 49px;
     left: 0;
     z-index: 999;
     float: left;
     min-width: 160px;
     padding: 5px 0;
     margin: 0;
     list-style: none;
     text-align: left;
     background-color: #222;
     display: none;
     color: #999;
		 box-shadow: 1px 1px 1px black;
 }
 .pull-right .dropdown-menu {
		 right: 0;
		 left: auto;
 }
 .pull-right {
		 float: right;
 }
 .dropdown-menu li {padding: 0 15px 2px;}
 .dropdown-menu a {
     line-height: 26px;
     color: #999;
     white-space: wrap;
 }
 .dropdown-menu li>a:hover, .dropdown-menu li>a:focus {
     text-decoration: none;
     color: #fff;
 }
/* toggle menus */
.right-menu{float: right; right: 0px;}
.toggle-content {
	display: none;
	white-space: nowrap;
	position: absolute;
	right: 0;
	top: 49px;
	background: #222;
	box-shadow: 1px 1px 1px black;
	padding: 5px;
	word-wrap: normal;
	z-index: 999999;
}
.toggle-active {
	display: block;
}
.toggle-content ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #999;
}
.toggle-content li {
	margin: 0;
	padding: 0;
}
.toggle-content a {display: block; color: #999; padding: 5px !important;}
.toggle-content a:hover {color: #fff;}
/* alerts menu */
.alerts-box {position: relative; float: left; color: #999; line-height: 29px; right: 1px;}
.alerts-box-new{background-color: #609FA9;}
.alerts-box-new:hover{background-color: #6FA8B1;}
.alerts-box-normal{background-color: #383838;}
.alerts-box-normal:hover{background-color: #4B4B4B;}
.alerts-box a {padding: 10px; height: 29px; display: block; color: #999;}
.alerts-box:hover{cursor: pointer;}
/* user menu */
.user-box {position: relative; float: right; color: #999; background-color: #383838; height: 49px; padding-left: 5px; padding-right: 5px;}
.user-box:hover {background-color: #4B4B4B;}
/* getting the avatar to align in the middle */
.avatar-container {height: 49px;}
.avatar-container:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
#nav-avatar {display: inline-block;vertical-align: middle;}
.login-box {position: relative; float: right; right: 0px; color: #999; height: 49px; background-color: #2D2D2D;}
.login-box ul {	list-style: none; list-style-type: none; margin: 0; padding: 0;}
.login-box li {line-height: 49px;}
.login-box li a {padding: 5px; color: #999;}
.login-box li a:hover {padding: 5px; color: #fff;}
.divider {
		width: 100%;
		height: 1px;
		padding: 0px !important;
		margin: 9px 0;
		overflow: hidden;
		background-color: #383838;
}

/* Mobile Navigation */
#navigation-mobile {
  background-image: url("../images/menu.png");
  background-image: url("../images/menu.svg"), url("../images/menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: none;
  float: right;
  overflow: hidden;
	height: 49px;
	width: 50px;
}
#navigation-mobile .toggle-content {width: 100%; border-top: 1px solid black; text-align: center;}
#navigation-mobile a {display:block; width: 100%; height: 100%;}

/* Body */
#body {
	position: relative;
}
#body #content {
	padding: 14px 0 7px;
}

/* Footer */
#footer {
	background: #222222;
	color: #ffffff;
	overflow: hidden;
	clear: both;
}
#footer #footer-wrapper {
	padding: 21px 0;
}
#footer #footer-wrapper span {
	display: block;
	font-size: 35px;
	margin-bottom: 14px;
}
#footer #social ul {
	list-style: none;
	padding: 0;
}
#footer #social ul li {
	background: #333333;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 0;
}
#footer #social ul li:hover {
	background: #444444;login
}
#footer #social ul li > a {
	display: inherit;
	padding: 21px;
}
#footer #about {
	text-align: right;
	line-height: 72px;
}
#footer #about a {
	color: #ffffff;
}

 /* Page CSS */
.head {
	background: #222222;
	color: #ffffff;
	font-weight: bold;
	padding: 7px 10px;
}

.head a {
	color: #ffffff;
}

/* mainly for pagination inside head block */
.head-list span {
	border: 1px solid #666;
	padding: 3px;
	margin-left: -1px;
}
.head-list a {color:inherit;}
.head-list span:hover, .head-list span.active {
	background: #444;
}
.head-list .pagination-disabled
{
 background: #444 !important;
 pointer-events: none;
}
.head-list form {display: inline;}
.head-list select {padding: 3px; margin: 0; border: 0; background: #474747; color: #eee; border: 1px solid #666;}
.head-list-position {float: right;}

/* Universal Box */
.box {
	margin-bottom: 7px;
}

.box .subhead {
    background: #d2d2d2;
    padding: 5px 8px;
}

.box .subhead a:hover {
    text-decoration: underline;
}

.box.hside .head {
	background: rgba(51, 51, 51, .7);
	float: left;
}
.box .body {
	background: #efefef;
	padding: 10px;
}
.box .body.list, .box .body.no-pad {
	padding: 0;
}
.box .body.list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.box .body.list ul li {
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding: 10px;
}
.box .body.list ul li a {
	text-decoration: none;
}
.box .body.list.noblock ul li a {
	display: inline;
}
.box .body.list ul li:last-child {
	border: none;
}

.body.list > ul li.list-group-item a {
    display: inline;
}

#content .chatList ul li a {
	display: inline-block;
}

.breadcrumb {
padding: 8px 15px;
list-style: none;
background-color: #f5f5f5;
border-radius: 4px;
}
.breadcrumb>li {
display: inline-block;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

/* Articles */
.article {
	background: #efefef;
	margin: 0 0 9px 0;
}
.article .featured-image
{
	position: relative;
	max-height: 300px;
}
.article .featured-image img {
	width: 100%;
	display: block;
	max-height: 300px;
}
.article .info {
	padding: 7px 14px;
}
.article .info .title {
	color: #428BCA;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 7px;
}
.article .info .desc {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 7px 0;
	margin: 7px 0;
}
.article .content {
	padding: 0 14px;
}
.article .tags {
	padding: 7px 0;
}
.article .tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.article .tags ul li {
        background: #428BCA;
        float: left;
        padding: 2px 0;
        margin: 0 7px 7px 0;
}
.article .tags ul li.ea {
        background: #ca8142;
        float: left;
        padding: 2px 0;
        margin: 0 7px 7px 0;
}
.article .tags ul li a {
	color: #ffffff;
	padding: 4px 7px;
}
.article .bottom-meta
{
	padding: 14px 14px 0px 14px;
  border-top: 1px solid #cccccc;
}
.article .bottom-meta ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.article .bottom-meta ul li {
  float: left;
  margin: 0 7px 7px 0;
}
.article .bottom-meta ul li a {
	background: #ffffff;
	float: left;
	padding: 5px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.article .bottom-meta ul li a:hover {
	background-color: #428BCA;
}
.article .share {
    padding: 0px 14px 7px;
    line-height: 47px;
}

.article .share > span {
    background: none repeat scroll 0% 0% #428BCA;
    color: #FFF;
    font-weight: 800;
    padding: 7px 8px 10px 8px;
    padding: none;
    width: auto;
    box-shadow: 0px -4px rgba(0, 0, 0, 0.1) inset;
}
.article .share span img {
    height: 18px;
    margin-bottom: -3px;
}

/* Home Page */
#main-article {
	background: #333;
	z-index: 1;
}
#main-article .article {
	position: relative;
	margin: 0;
}
.articles .article .info {
	float: left;
}
.featured-title
{
	position: absolute;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #fff;
}
.featured-title-text {padding: 5px; font-weight: bold;}
.featured-title a {color: #fff; display: block;}

/* Individual Article Page */
.article.individual .info {
	border-bottom: 1px solid #CCC;
	margin-bottom: 7px;
}
.article.individual .tags {
	border-top: 1px solid #cccccc;
	padding: 14px;
}
.article.individual.no-image .info {
	padding: 0px 0px 27px 170px;
	background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #ffffff;
	background-image: url('../images/article-discussion.png');
	background-image: url('../images/article-discussion.svg'), none;
	border: none;
	min-height: 150px;
}
.article.individual.no-image .info .bubble {
	background: #efefef;
	padding: 7px;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
		-ms-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}
.article.individual > .pagination {
        border-top: 1px solid #cccccc;
        padding: 14px 14px 7px 14px;
}
.article.individual .tags {
        border-top: 1px solid #cccccc;
        padding: 14px 14px 7px 14px;
}
	/* Comments */
	.comments {
		margin: 7px auto;
	}
	.comments .head a {
		color: #ffffff;
	}
	.comments .body {
		padding: 0;
		margin: 0;
	}
	.comment {
		margin-bottom: 14px;
	}
	.comment .comment-meta {
		background: #e5e5e5;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		padding: 7px 14px;
		margin-bottom: 7px;
		position: relative;
	}
	.comment .comment-meta .distro {
        width: 20px;
        padding: 3px;
        margin-right: 8px;
        vertical-align: sub;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-meta .comment-post {
		float: left;
	}
    .comment .comment-meta .comment-actions {
        float: right;
    }
    .comment .comment-meta .comment-actions ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
    }
	.comment .comment-meta .comment-actions li {
		float: left;
		margin: 0 3px 0 0;
		padding: 0;
		text-align: center;
		line-height: 21px;
	}
	.comment .comment-meta .comment-actions li a {
		background: #ffffff;
		float: left;
        padding: 5px;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-author {
		float: left;
		text-align: center;
		width: 125px;
		margin-left: 14px;
	}
	.comment .comment-author img.avatar {
		width: 100%;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	.comment .comment-author ul {
		list-style: none;
		padding: 0;
	}
	.comment .comment-author ul li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	.comment .comment-badges {
        margin: 7px 0 0;
    }
    .comment .comment-badges .badge {
       display: block;
   }

    .comment ul.comment-badges li {
        margin-bottom: 7px;
        float: left;
        width: 100%;
    }
	.comment .comment-social {
		margin-top: 7px;
	}
	ul.comment-social:after {
	    content: " ";
	    display: block;
	    clear: both;
	}
	.comment-social li {
	    float: left;
	}
	.comment .comment-social li a {
		background: #ffffff;
		padding: 3px;
		margin-right: 3px;
		margin-bottom: 3px;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	 display: inline-block;
	}
	.comment .comment-social li a img {
		width: 16px;
		height: 16px;
		line-height: 16px;
	}
	.comment .comment-body {
		margin-left: 155px;
		margin-right: 14px;
	}
    .comment .comment-quote {
        display: none;
    }
.comment .comment-body blockquote {
    margin: 0 0 14px 0;
}
	.comment:last-child {
		border: none;
	}
    .comment .comment-meta .comment-actions li a:hover, .comment .comment-social li a:hover {
        background: #428BCA;
    }

.badge {
    background: #333333;
    color: #ffffff;
    font-size: 80%;
    padding: 3px;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.badge.editor {
    background: #5cb85c;
}
.badge.contributing-editor {
    background: #5cb85c;
}
.badge.supporter {
    background: #f0ad4e;
}
.badge.blue {
    background: #006EA1;
}
.badge.green {
    background: #04B404;
}
.badge.yellow {
    background: #ccb845;
}

/* Login Page */
#login-center {
	margin: 0px auto;
	max-width: 400px;
	min-width: 280px;
}

/* Social Networks */
ul.social-networks {
	list-style: none;
	padding: 0;
}
ul.social-networks li {
	background: #333333;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 0;
}
ul.social-networks li:hover {
	background: #444444;
}
ul.social-networks li > a {
	display: inherit;
	padding: 14px;
}

/* profile */

.profile .profile_info {
	float: left;
	margin-left: 10px;
}

.profile .avatar {
	float: left;
}

.profile span.icon {
	display: inline-block;
}

/*
 * ------------------------------
 * Control panels
 * ------------------------------
 */
.input-field {
  display: flex;
  white-space: nowrap;
  vertical-align: bottom;
	background: #fff;
	position: relative;
	vertical-align: middle;
	width: 100%;
	min-width: 16px;
	border: 1px solid #ddd;
	border-radius: .2em;
	box-sizing: border-box;
}
.input-field .addon {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background: #d8d8d8;
}
.input-field input {
  padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
  margin: 0;
  border: 0;
  resize: none;
	flex: 1;
}
.input-field:hover {border: 1px solid #05c9f0;}

/* GOTY */
.goty .col-4 {
  width: 32.666666666666666666666666666667%;
  margin: 0;
}

.goty .col-4:nth-child(3n+1){
    clear: both;
}

.goty .col-4:nth-child(3n+2) {
    margin: 0 1%;
}

.box .votebutton {
	float: right;
}

.remove_vote {
	float: right;
}

/* Support us page */
.masonry-support-us .block {
	display: inline-block;
	margin: 0 0 1.5em;
	width: 100%;
}
.support-us-box {
	text-align: center;
	overflow: hidden;
	background: #efefef;
}
.support-us-box a {display: block;}
.support-us-box a:hover {
	color: #518FD0;
}

/* Games Database */
.database-latest{float: left; width: 49%;}
.database-updated{float: right; width: 49%;}

/* Forum */
.index_avatar{vertical-align:middle; max-width: 50px;}
.forum-badge a {color: #fff;}
#create-poll{display: none;}
.poll_button{float: none ;}
.poll_content{padding: 4px;}

/* Icons */
.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: block;
    width: 16px;
    height: 16px;
    color: transparent;
    overflow: hidden;
    cursor: pointer;
}
.icon.inline {
	/* FIXME: All icons should be inline block, but that appears to mess with margins*/
	display: inline-block;
	top: 3px;
	left: 1px;
	position: relative;
	margin-right: 3px;
}
.icon.website {
    background-image: url('../images/social/website.svg');
}
.icon.twitter {
    background-image: url('../images/social/twitter.svg');
}
.icon.google-plus {
    background-image: url('../images/social/google-plus.svg');
}
.icon.youtube {
    background-image: url('../images/social/youtube.svg');
}
.icon.facebook {
    background-image: url('../images/social/facebook.svg');
}
.icon.twitch {
    background-image: url('../images/social/twitch.svg');
}
.icon.steam {
    background-image: url('../images/social/steam.svg');
}
.icon.flag {
    background-image: url('../images/comments/flag.svg');
}
.icon.link {
    background-image: url('../images/comments/link.svg');
}
.icon.quote {
    background-image: url('../images/comments/quote.svg');
}
.icon.like {
    background-image: url('../images/comments/like.svg');
}
.icon.unlike {
    background-image: url('../images/comments/unlike.svg');
}
.icon.edit {
    background-image: url('../images/comments/edit.svg');
}
.icon.delete {
    background-image: url('../images/comments/delete.svg');
}
.icon.envelope {
    background-image: url('../images/comments/envelope.svg');
}
.icon.envelope-open {
    background-image: url('../images/comments/envelope-open.svg');
}
.icon.bookmark {
    background-image: url('../images/comments/bookmark.png');
		background-size: 10px 14px;
}
.bookmark-saved {background-color: yellow !important;}

/* Dark CSS */
body.dark {
	background: #151515;
	color: #ffffff;
}
.dark input[type="text"][readonly] {
    background-color: #000000;
}
.dark a, .dark a:hover, .dark a:active {
    color: #428BCA;
}
.dark hr {border-color: #111111;}

.dark input, .dark textarea, .dark select {
    background: #333;
    border: 1px solid #444;
    color: #ffffff;
}
.dark .input-field {
	background: #333;
	border: 1px solid #444;
}
.dark .input-field .addon {
	text-shadow: none;
	background: #474747;
}
.dark .button, .dark button, .dark input[type=submit], .dark input[type=reset], .dark input[type=button] {
    background: #428BCA;
    border: 1px solid #357CB7;
    color: #ffffff;
}
.dark .button:hover, .dark button:hover, .dark input[type=submit]:hover, .dark input[type=reset]:hover, .dark input[type=button]:hover {
    background: #357CB7;
    color: #ffffff;
}

.dark #wrapper #header {
	background: #375A7F;
}

.dark #navigation ul {
	background: #375A7F;
	border-color: #2F4E6D;
}
.dark #navigation ul li {
	border-color: #2F4E6D;
}
.dark #navigation ul li > a {
	border-color: #2F4E6D;
}
.dark #navigation ul li.active > a, .dark #navigation ul li:hover > a, .dark #navigation ul li:active > a {
	color: #111111;
}
.dark #navigation ul li > div {
	background: #375A7F;
	border-color: #2F4E6D;
}
.dark .box .body, .dark .article, .dark #ads {
	background: #222222;
}
.dark .box .head {
	background: #383838;
}
.dark .box .body.list ul li {
	border-bottom: 1px solid #111111;
}
.dark .article .info .desc {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
}
.dark .article.individual .info {
	border-bottom: 1px solid #111111;
}
.dark .article.individual .tags {
	border-top: 1px solid #111111;
}
.dark .article.individual.no-image .info {
	background-color: #151515;
	background-image: url('../images/article-discussion-dark.png');
	background-image: url('../images/article-discussion-dark.svg'), none;
	border: none;
}
.dark .article.individual.no-image .info .bubble {
	background: #222222;
}
.dark .comment .comment-meta {
	background: #333333;
	border-color: #444444;
}
.dark .comment .comment-meta .distro {
	background: #b7b7b7;
}
.dark .distro {
	background: #b7b7b7;
	width: 20px;
	padding: 3px;
	margin-right: 8px;
	vertical-align: sub;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.dark .fancybox-skin {background: #000000}
.dark .comment .comment-social li a {
    background: #333333;
}
.dark .comment .comment-meta .comment-actions li a {
    background: #222222;
}
.dark .comment .comment-meta .comment-actions li a:hover, .dark .comment .comment-social li a:hover {
    background: #428BCA;
}


.dark .octus-editor .styles {
    background: #222222;
        border-color: #333333;
}
.dark .octus-editor .textarea {
        border-color: #333333;
}
.dark .octus-editor .textarea textarea {
        background: #333333;
}
.dark .octus-editor > .styles > ul > li {
        background: #333333;
        border-color: #444444;
        color: #ffffff;
}

.dark .octus-editor > .styles > ul > li.dropdown ul {
    background: #333333;
    border-color: #444444;
}
.dark .octus-editor > .styles > ul > li.dropdown ul li {
        border-color: #444444;
}


.dark .octus-editor .textarea > textarea {
        color: #ffffff;
}
.dark .octus-editor a.button {
        background: #333333;
        border-color: #444444;
        color: #ffffff;
}

.dark ul.pagination li a {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}
.dark ul.pagination li:hover a {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}
.dark ul.pagination li.active a {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}
.dark ul.pagination li.pagination-disabled a {
	pointer-events: none;
	background: #2f3237;
}

.dark select.pagination {    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);}

.dark select.pagination:hover {	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);}

.dark select.pagination option {background: #3e4347; color: #feffff;}

.dark .subhead {background-color: #4e4e4e;}
.dark .livestream {
	background: #111111;
}
.dark .livestream a {
    color: #ffffff;
}
.dark .livestream .next-time {
	background: #222222;
}

.dark .icon.website {
    background-image: url('../images/social/white/website.svg');
}
.dark .icon.twitter {
    background-image: url('../images/social/white/twitter.svg');
}
.dark .icon.google-plus {
    background-image: url('../images/social/white/google-plus.svg');
}
.dark .icon.youtube {
    background-image: url('../images/social/white/youtube.svg');
}
.dark .icon.facebook {
    background-image: url('../images/social/white/facebook.svg');
}
.dark .icon.twitch {
    background-image: url('../images/social/white/twitch.svg');
}
.dark .icon.steam {
    background-image: url('../images/social/white/steam.svg');
}
.dark .icon.flag {
    background-image: url('../images/comments/white/flag.svg');
}
.dark .icon.link {
    background-image: url('../images/comments/white/link.svg');
}
.dark .icon.quote {
    background-image: url('../images/comments/white/quote.svg');
}
.dark .icon.like {
    background-image: url('../images/comments/white/like.svg');
}
.dark .icon.unlike {
    background-image: url('../images/comments/white/unlike.svg');
}
.dark .icon.edit {
    background-image: url('../images/comments/white/edit.svg');
}
.dark .icon.delete {
    background-image: url('../images/comments/white/delete.svg');
}
.dark .icon.envelope {
    background-image: url('../images/comments/white/envelope.svg');
}
.dark .icon.envelope-open {
    background-image: url('../images/comments/white/envelope-open.svg');
}
.dark .icon.bookmark {
    background-image: url('../images/comments/white/bookmark.png');
}
.dark .bookmark-saved {background-color: #A4A400 !important;}
.dark ::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
.dark ::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.dark strong {color: #ffffff}

.dark .article .bottom-meta ul li a {
	background: #222222;
	float: left;
	padding: 5px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.dark .article .bottom-meta ul li a:hover {
	background-color: #428BCA;
}

/* Responsive CSS */
@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
		.masonry-support-us {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
		}
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
		.masonry-support-us {
				-moz-column-count: 3;
				-webkit-column-count: 3;
				column-count: 3;
		}
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
	.container {
		width: 1136px;
	}
}
/* WIDESCREEN */
@media only screen and (min-width: 1400px) {
	.container {
		width: 1300px;
	}
}
/* DESKTOP */
@media only screen and (max-width: 1200px) {
}
/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

/* Above tablet */
@media only screen and (min-width: 768px) {
    .articles .article .image {
        float: left;
        width: 40%;
    }
    .articles .article .info {
        float: left;
        width: 55%;
    }
}

/* TABLET/NETBOOK */
@media only screen and (max-width: 768px) {
	.last_post{display: none;visibility: hidden;}
	.index_avatar{display: none;visibility: hidden;}
	.container {
		width: 100%;
	}
	#content .col-9 {
		margin-bottom: 7px;
	}
  .navigation-main #extra {
        display: none;
  }
	.article_bbcode img{width: 100%; max-width: 100% !important;}
	.article_bbcode .tagline {margin-left: 0px !important;}
	.hide-small{display:none;}
	#navigation-mobile {display: block;}
}
/* SMALL TABLET */
@media only screen and (max-width: 600px) {
	#footer #about, #footer #social, #footer #footer-sub, #footer #footer-sub #copy, #footer #footer-sub {
		text-align: center;
	}
	#footer #about {
		margin-bottom: 14px;
	}
	#footer #social ul {
		margin: 0px auto;
		width: 225px;
	}
	#footer #footer-sub #copy {
		margin-bottom: 14px;
	}

	.head-list-position {float: left; margin-top: 5px;}

	.database-latest{float: left; width: 100%; clear: both;}
	.database-updated{float: left; width: 100%; clear: both;}

	.article.individual.no-image .info {
		padding: 14px;
		background: none;
		border-bottom: 1px solid #cccccc;
		min-height: 50px;
	}
	.article.individual.no-image .info .bubble {
		background: none;
		padding: 0;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
			-ms-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}
	/* Comment */
	.comment .comment-author {
		width: 75px;
	}
	.comment .comment-body {
		margin-left: 100px;
	}
}
/* MOBILE LANDSCAPE */
@media only screen and (max-width: 480px) {

}
/* MOBILE PORTRAIT */
@media only screen and (max-width: 320px)
{

}
/* LANDSCAPE ORIENTATION */
@media only screen and (orientation: landscape) {

}
/* PORTRAIT ORIENTATION */
@media only screen and (orientation: portrait) {

}

/* liam additions */
th, td { vertical-align: top; }
.link_button {
    background: #474747;
    color: #ffffff;
    font-size: 80%;
    padding: 3px;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
.collapse_container {
    border:1px solid #d3d3d3;
}
.collapse_container div {
}
.collapse_container .collapse_header {
    background-color:#d3d3d3;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: bold;
}
.collapse_container .collapse_content {
    display: none;
    padding : 5px;
}

.game-box{
	border: 1px solid #DADADA;
}

.button_link{
	background: #f9f9f9;
	border: 1px solid #dddddd;
	color: #000 !important;
	cursor: pointer;
	float: left;
	font-weight: 400;
	padding: 7px 14px 9px 14px !important;
	text-decoration: none;
	width: auto;
	box-shadow: inset 0 -3px rgba(0, 0, 0, 0.1);
}
.article .info .meta .meta-date {display: inline-block;}
/* release calendar admin submitted items section, to split up each item in the month */
div.cal:nth-child(even) {background: #CCC}
div.cal:nth-child(odd) {background: #FFF}
.bbcodeblock {
	margin: 0px;
	border: 1px solid #DDD;
	background-color: #F8F8F8;
	border-radius: 3px;
	max-width: 100%;
	width: 100%;
	max-height: 400px;
	display: inline-block;
	white-space: pre;
	overflow: auto;
	vertical-align: middle;
	line-height: 1em;
	padding: 5px;
	font-family: monospace;
}
.bbcodeblock:before {
    content: "Code";
    display: block;
    font-style: italic;
    font-size: 0.9em;
}

.dark .bbcodeblock, .dark .bbcodeblock:before {
    color: #ccc;
		background-color: #383838;
}

div.announce:nth-of-type(odd) {background: #609FA9; margin-bottom: 7px; color: #000}
div.announce:nth-of-type(even) {background: #99CCFF; margin-bottom: 7px; color: #000}
.dark div.announce:nth-of-type(odd) {background: #609FA9; margin-bottom: 7px; color: #000}
.dark div.announce:nth-of-type(even) {background: #99CCFF; margin-bottom: 7px; color: #000}
.announce a {color: #323232; font-style: italic;}
.announce a:link {color: #323232; font-style: italic;}
.dark .announce a {color: #191919; font-style: italic;}
.dark .announce a:link {color: #191919; font-style: italic;}
.dark .breadcrumb {background: #2E2E2E;}
.dark .collapse_header {background: #000;}
.vote_done {color: white; background-color: green;}
.dark .vote_done {color: white; background-color: green;}
.dark #wrap strong {color: black;}
/* GOL Charts */
.golgraph{display: block; margin-left:auto; margin-right:auto;}
.dark .golsvg_header {fill: #515151}
.golsvg_title {fill: white;}
.dark .golsvg_background {fill: #000000}
.dark svg text {fill: white;}
.golsvg_counters {fill: black}
.dark golsvg_counters {fill: white}
.dark .select2-selection {background-color: #515151 !important}
.dark .select2-selection__choice {background-color: #515151 !important}
.dark .select2-results {background-color: #515151 !important}
.database-extra{position: absolute; top: 0; right:0; background-color: #D7D7D7; padding: 5px; max-width: 300px;}
.dark .database-extra{background-color: #515151;}
.patreon {
	margin-top: 14px;
	line-height: 30px;
}
.patreon-small{line-height: 30px;}
.dark pre {background:#222;}
.preview_pm{display: none;}
.register-warning {
  color:#d2232a;
  background-color:#ffdd97;
  width:100%;
  display:none;
}
.all-ok {
  color:#33FF33;
  background-color:#333333;
  width:100%;
  display:none;
}
.input-alert-text {padding: 5px 5px 5px 5px;}
.database_stores{display: inline;list-style-type: none; padding: 0; margin: 0;}
.database_stores li + li:before {
    content: ", ";
}
.database_stores li {display: inline;}
.database_extra{display: inline;list-style-type: none; padding: 0; margin: 0;}
.database_extra li {padding: 0px;}
/* fix fancybox going under the navbar */
.fancybox-wrap {
	 position: absolute;
	 top: 0;
	 left: 0;
	 padding: 20px;
	 z-index: 9999;
	 outline: none;}
.article_bbcode {border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 10px; width: 100%;}
.article_bbcode img {margin-right: 15px;
    float: left;
	max-width: 100px;
}
.article_bbcode .tagline {margin-left: 115px;}
.profile-comments-heart {display: inline-block; background-size: 14px; cursor: default; background-position: bottom center;}
.markdown-help {display: none;}
